.mui-bar {
	height: 3em;
	font-weight: bolder;
	background-color: #258AFE;
	font-family: "黑体";
}

.mui-title {
	color: #fff;
}

.mui-content {
	margin-top: 50px;
}

.img-wifi {
	width: 100%;
	height: 40%;
	text-align: center;
}

.img-wifi img {
	width: 30%;
}

.img-wifi h4,
.img-wifi h5 {
	margin: 1em;
}

.mui-input-group {
	margin: 10px 15px;
	border-radius: 8px;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 22%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
	height: 47px;
}

.link-area {
	width: 100%;
	text-align: center;
	margin: 1.5em 0;
}

.flex-con div {
	height: 47px;
	line-height: 47px;
}