.mui-bar {
				height: 3em;
				font-weight: bolder;
				background-color: #258AFE;
				font-family: "黑体";
			}
			
			.mui-title {
				color: #fff;
			}
			
			.mui-content{
				margin-top: 90px;
			}						

			#login{
				background-color:#3885F1;
				border: 0;
			}
			.link-area a{
				color: #6D6D72;
				font-size: .9em;
			}
			#register {
				float: right;
			}
			
			#savePassword {
				height: 30px;
				line-height: 21px;
				font-size: 1em;
				color: #242424;
				float: left;
			}
			#findKeyBack{
				height: 21px;
				line-height: 21px;
				float: left;
			}
			
			.mui-input-group {
				margin: 10px 15px;
				border-radius: 8px;
			}
			
			.mui-input-group span {
				position: absolute;
				left: 1px;
				top: -4px;
			}
			
			.mui-input-group:first-child {
				margin-top: 40px;
			}
			
			.mui-input-group label {
				width: 35%;
			}
			
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 65%;
			}

			
			.mui-input {
				padding-top: 1em;
			}
			
			.mui-checkbox input[type=checkbox],
			.mui-radio input[type=radio] {
				top: 6px;
			}
			
			.mui-content-padded {
				margin-top: 25px;
			}
			
			.mui-btn {
				padding: 10px;
				background: #378DE4;
				border: 0;
				letter-spacing: .2em;
			}
			
			.link-area {
				display: block;
				height: 3em;
			}
			
			.link-area input {
				width: 1em;
				background-color: #fff;
			}
			
			.spliter {
				color: #bbb;
				padding: 0px 8px;
			}
			
			.oauth-area {
				position: absolute;
				bottom: 20px;
				left: 0px;
				text-align: center;
				width: 100%;
				padding: 0px;
				margin: 0px;
			}
			
			.oauth-area .oauth-btn {
				display: inline-block;
				width: 50px;
				height: 50px;
				background-size: 30px 30px;
				background-position: center center;
				background-repeat: no-repeat;
				margin: 0px 20px;
				/*-webkit-filter: grayscale(100%); */
				border: solid 1px #ddd;
				border-radius: 25px;
			}
			
			.oauth-area .oauth-btn:active {
				border: solid 1px #aaa;
			}
			
			.oauth-area .oauth-btn.disabled {
				background-color: #ddd;
			}