.mui-bar {
	height: 14em !important;
	font-weight: bolder;
	background-color: #258AFE;
	font-family: "黑体";
}

.mui-title {
	font-family: "楷体";
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
}


.top-box {
	background-color: #258AFE;
	width: 100%;
	text-align: center;
	padding: 1em;
	color: #fff;
}

.icon-icon01 {
	margin-top: 10px;
	color: #fff;
	font-size: 5em !important;
}

.longin-register a {
	color: #fff;
	margin: 0 .5em;
}
#list{
	margin-bottom: 1em;
}
.logout{
	text-align: center;
}
