.mui-bar {
	height: 3em;
	font-weight: bolder;
	background-color: #258AFE;
	font-family: "黑体";
}

.mui-title {
	color: #fff;
}

.mui-content {
	margin-top: 80px;
}

.mui-input-group {
	margin: 5px 0;
}

.mui-input-group label {
	font-weight: 400;
}

.mui-radio {
	width: 30%;
	display: inline-block;
}

.save-btn button {
	width: 85%;
	height: 2.5em;
	margin: 1em auto;
	padding: 0;
}

.mui-radio.mui-left input[type='radio'] {
	left: 0;
}

.mui-radio.mui-left label {
	padding-left: 30px;
}